@charset "utf-8";

/* DOCUMENT INFORMATION
    - Document:     Index Specific Styles
    - Version:      1.0.0
    - Client:       HP ISS IST
    - Author:       James M Irvine
  
   CSS DIRECTORY
    1. ~GLOBAL SETTINGS~
    2. ~LAYOUT CLASSES~
    3. ~STRUCTURE CLASSES~
    4. ~FORM CLASSES~
    5. ~TEXT-RELATED TREATMENTS~
    6. ~MISCELLANEOUS~
    
   SWATCH COLORS
    - #0096d6: HP Blue
    - #c1dad7: Light Grey Blue
    - #4f6b72: Dark Grey Blue
    - #ffffff: Pure White
    - #f1f1f1: Off White
    - #dcdcdc: Light Grey
    - #333333: Lighter Black
    - #000000: Black
*/


/* ~GLOBAL SETTINGS~
   -------------------------------- */


/* ~LAYOUT CLASSES~
   -------------------------------- */
#info-panel {
  border: none;
  display: block;
  height: 100%;
  margin-bottom: -1000px;
  width: 100%;
}


/* ~STRUCTURE CLASSES~
   -------------------------------- */


/* ~FORM CLASSES~
   -------------------------------- */


/* ~TEXT-RELATED TREATMENTS~
   -------------------------------- */


/* ~MISCELLANEOUS~
   -------------------------------- */

